img {
  width: 100%;
}
.masthead-image {
  width:460px;
  float: right;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 54px;
  color: white;
  letter-spacing: 5px;
  margin-top: 40px;
}

h2 {
  margin-top: -10px;
  margin-left: 3px;
  font-size: 45px;
}

h4 {
  font-size: 37px;
  letter-spacing: 7px;
  color: white;
  font-family: sans-serif;

}

.masthead {
  border: solid #FF8E39 6px;
  padding: 45px;
  text-align: left;
  margin-top: 40px;
}

.header {
  width: 50%;
}


.customer {
  padding: 25px;
  margin-top: 55px;
  border: solid #FF8E39 6px;
}

.sizes {
  padding: 45px;
  margin-top: 87px;
  border: solid #DC7B28 5px;
}

.toppings {
  padding: 45px;
  margin-top: 75px;
  border: solid #E76529 6px;
}

.output {
  margin-top: 85px;
  border: solid white 2px;
}
.col-md-3 input {
  float: left;
}
.col-md-3 h2 {
  margin-left: 50px;
}

h3 {
  font-size: 40px;
}
/*
input[type="checkbox"] {
  margin: -25px 0 0;
} */

label {
  margin-left: 10px;
  font-size: 25px;
}

body {
  background-image: url(../img/background.png);
  height: 3000px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

button {
  height: 90px;
  width: 290px;
  font-size: 35px;
  color: white;
  background-color: transparent;
  border: solid white 2px;
}

.well {
  margin-bottom: 0px;
  padding: 10px;
}

button {
  margin-top: 25px;
}

.results {
  margin-top: 85px;
  height: 500px;
  background: white;
}

li {
  margin-left: 65px;
  font-size: 45px;
}
